{% load static %}
{% if message %}
    <script>
        alert('{{message}}')
    </script>
{% endif %}

{% if messages %}
    <script>
        {% for message in messages %}
            alert('{{ message }}');
        {% endfor %}
    </script>
{% endif %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">

    <title>GeoLeave</title>

    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'assets/coreui/assets/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/coreui/assets/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/coreui/assets/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114"
          href="{% static 'assets/coreui/assets/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120"
          href="{% static 'assets/coreui/assets/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144"
          href="{% static 'assets/coreui/assets/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152"
          href="{% static 'assets/coreui/assets/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180"
          href="{% static 'assets/coreui/assets/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"
          href="{% static 'assets/coreui/assets/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{% static 'assets/coreui/assets/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96"
          href="{% static 'assets/coreui/assets/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{% static 'assets/coreui/assets/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/coreui/assets/favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'assets/coreui/assets/favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendors styles-->
    <link rel="stylesheet" href="{% static 'assets/coreui/vendors/simplebar/css/simplebar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/coreui/css/vendors/simplebar.css' %}">
    <!-- Main styles for this application-->
    <link href="{% static 'assets/coreui/css/style.css' %}" rel="stylesheet">
    <!-- We use those styles to show code examples, you should remove them in your application.-->
    <link href="{% static 'assets/coreui/css/examples.css' %}" rel="stylesheet">
    <link href="{% static 'assets/coreui/vendors/@coreui/chartjs/css/coreui-chartjs.css' %}" rel="stylesheet">

    <style>
        .my-custom-form .form-control {
            margin-bottom: 60px; /* Adjust the spacing as needed */
        }
    </style>
</head>
<body>


<div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
    <div style="background-color: white" class="sidebar-brand d-none d-md-flex">

        <img class="sidebar-brand-full" src="{% static 'assets/coreui/ardhisasalogo.png' %}" width="60%" height="60px"
             alt="CoreUI Logo">

        <svg class="sidebar-brand-narrow" width="46" height="46" alt="CoreUI Logo">
            <use href="{% static 'assets/coreui/assets/brand/coreui.svg#signet' %}"></use>
        </svg>
    </div>

    <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
        <li class="nav-item"><a class="nav-link" href="{% url 'loginpage' %}">
            Welcome {{ summary.user.last_name }} !<span
                class="badge badge-sm bg-info ms-auto"></span></a></li>
        <br>

        <li class="nav-item"><a class="nav-link" href="{% url 'loginpage' %}">
            Home</a></li>

        <li class="nav-item"><a class="nav-link" href="{% url 'leaveconfiguration' %}">
            Leaves</a></li>

        {% if not summary.user.is_projectlead %}
            <li class="nav-item"><a class="nav-link" href="{% url 'apply' %}">
                Apply Leave</a></li>
        {% endif %}

        {% if summary.user.is_teamlead %}
            <li class="nav-item"><a class="nav-link" href="{% url 'applications' %}">
                Applications</a></li>
        {% endif %}


        {% if summary.user.is_projectlead %}

            <li class="nav-item"><a class="nav-link" href="{% url 'leavetypes' %}">
                Leave Types</a></li>

            <li class="nav-item"><a class="nav-link" href="{% url 'departments' %}">
                Departments</a></li>

{#            <li class="nav-item"><a class="nav-link" href="{% url 'holiday' %}">#}
{#                Holidays</a></li>#}

            <li class="nav-item"><a class="nav-link" href="{% url 'users' %}">
                Users</a></li>

        {% endif %}

        <li class="nav-item"><a class="nav-link" href="{% url 'holiday' %}">
            Holidays</a></li>

        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">
            Logout</a></li>

    </ul>


</div>

<div class="wrapper d-flex flex-column min-vh-100 bg-light">
    <header class="header header-sticky mb-4">
        <div class="container-fluid">
            <button class="header-toggler px-md-0 me-md-3" type="button"
                    onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()">
                <svg class="icon icon-lg">
                    <use href="{% static 'assets/coreui/vendors/@coreui/icons/svg/free.svg#cil-menu' %}"></use>
                </svg>
            </button>
            <a class="header-brand d-md-none" href="#">
                <svg width="118" height="46" alt="CoreUI Logo">
                    <use href="{% static 'assets/coreui/assets/brand/coreui.svg#full' %}"></use>
                </svg>
            </a>
            <ul class="header-nav d-none d-md-flex">
                {% comment %}<li class="nav-item"><a class="nav-link" href="#">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Users</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Settings</a></li>{% endcomment %}
            </ul>
            <ul class="header-nav ms-3">
                <li class="nav-item dropdown"><a class="nav-link py-0" data-coreui-toggle="dropdown" href="#"
                                                 role="button" aria-haspopup="true" aria-expanded="false">
                    <div class="avatar avatar-md"><img class="avatar-img"
                                                       src="{% static 'assets/coreui/logod.png' %}"
                                                       alt="user@email.com"></div>
                </a>
                    <div class="dropdown-menu dropdown-menu-end pt-0">
                        <div class="dropdown-header bg-light py-2">
                            <div class="fw-semibold">Account</div>
                        </div>
                        <a class="dropdown-item" href="{% url 'editprofile' %}">
                            <svg class="icon me-2">
                                {#                                <use href="{% static 'assets/coreui/vendors/@coreui/icons/svg/free.svg#cil-bell' %}"></use>#}
                            </svg>
                            Edit
                            Profile {% comment %}<span class="badge badge-sm bg-info ms-2">42</span></a>{% endcomment %}
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="header-divider"></div>
        <div align="center" class="container-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb my-0 ms-2">
                    <li class="breadcrumb-item">
                        <div align="center">
                            <span> GeoLeave - Your Leave Tracker</span>
                        </div>
                    </li>
                </ol>
            </nav>
        </div>
    </header>


    {% block body %}{% endblock body %}


    <footer class="footer">
        <div align="center">
            <p>GeoLeave © 2024</p>
        </div>
    </footer>
</div>


<!-- CoreUI and necessary plugins-->
<script src="{% static 'assets/coreui/vendors/@coreui/coreui/js/coreui.bundle.min.js' %}"></script>
<script src="{% static 'assets/coreui/vendors/simplebar/js/simplebar.min.js' %}"></script>
<!-- Plugins and scripts required by this view-->
<script src="{% static 'assets/coreui/vendors/chart.js' %}/js/chart.min.js"></script>
<script src="{% static 'assets/coreui/vendors/@coreui/chartjs/js/coreui-chartjs.js' %}"></script>
<script src="{% static 'assets/coreui/vendors/@coreui/utils/js/coreui-utils.js' %}"></script>
<script src="js/main.js"></script>


<script>
</script>

</body>


</html>