{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block body %}

    <div class="body flex-grow-1 px-3">
        <div class="container-lg">
            <!-- /.row-->
            <div class="card mb-4">
                <div class="card-body">

                    <div class="d-flex justify-content-between">
                        <div>
                            <h4 class="card-title mb-0">Edit and submit leave information</h4>
                            <div class="small text-medium-emphasis">January - July 2022</div>
                        </div>
                    </div>


                    <div class="c-chart-wrapper" style="height:100%;margin-top:40px;">
                        <form action="" enctype="multipart/form-data" method="post">
                            {% csrf_token %}
                            {{ summary.form | crispy }}

                            <br>
                            <button type="submit" id="submit" value="submit"
                                    class="btn btn-primary px-4"
                                    style="width: 100%">Submit Application
                            </button>


                        </form>

                    </div>


                </div>


                <div class="card-footer">
                </div>


            </div>

        </div>
    </div>

{% endblock %}
