{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

summarydictionary['number_of_leave_appliations'] = number_of_leave_appliations
summarydictionary['normal_leave_days_available'] = normal_leave_days_available
summarydictionary['days_on_leave'] = consumed_days
summarydictionary['legth_of_service'] = length_of_service_in_months
summarydictionary['leave_application_list'] = leave_applications

{% block body %}

    {% if message %}
        <script>
            alert('{{message}}')
        </script>
    {% endif %}


        <div class="body flex-grow-1 px-3">
        <div class="container-lg">
            <!-- /.row-->
            <div class="card mb-4">
                <div class="card-body">

                    <div class="d-flex justify-content-between">
                        <div>
                            <h4 class="card-title mb-0">Edit Your Profile</h4><br>
                        </div>
                    </div>

                    <div class="c-chart-wrapper" style="height:100%;margin-top:10px;">
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ summary.form | crispy }}
                            <br>
                            <button type="submit" id="submit" value="submit"
                                    class="btn btn-primary px-4"
                                    style="width: 100%">Update Profile
                            </button>
                        </form>

                    </div>

                </div>


                <div class="card-footer">
                </div>


            </div>

        </div>
    </div>

    <br>
    <br>





{% endblock %}
